.resetpass {
  height: 100vh;
  display: flex;
  background-color: #3d7496;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.resetpass * {
  margin: 5px;
}

.forminvalid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.forminvalid * {
  margin: 10px;
}
